body {
	font-family: sans-serif;
	background-color: yellowgreen;
}


#main-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 5px solid red;
}


/* 
#main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
} */

#main-container {
	display: flex;
	justify-content: left;
	flex-direction: row; 
	flex-wrap: wrap;
	width: 80%;
	margin: auto;


}

#my-element {
	padding: 30px
}

h2 {
	color: #00008B;
	text-decoration: underline;
}

p {
	font-style: italic;
	font-size: 14px;
}

